<section id="activate-view" class="mainbar" data-ng-controller="resetPasswordCtrl as vm">
    <section class="matter">
        <div class="container">  
             
            <form class="form-horizontal" role="form" name="passwordForm" novalidate>
                <h1 align="left">Reset password form : </br> </br></h1>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Username: </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="focusedInput" name="username" ng-model="vm.resetPassRequest.userName" ng-required="true" />
                            <div class="msg-block" ng-show="passwordForm.$error">
                                <span class="msg-error" ng-show="passwordForm.username.$error.required && passwordForm.username.$dirty">
                                     <font color="red">   This fild is required! </font>
                                   </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Email Adress: </label>
                        <div class="col-md-4">
                            <input class="form-control" id="emailUser" name="emailUser" ng-model="vm.resetPassRequest.email" type="email" ng-required="true"
                            alexmail />
                            <div class="msg-block" ng-show="passwordForm.$error">
                                <span class="msg-error" ng-show=" passwordForm.emailUser.$error.email && passwordForm.emailUser.$dirty">
                                    <font color="red ">This email format is invalid!</font>
                                 </span>
                                <span class="msg-error" ng-show=" passwordForm.emailUser.$error.required && passwordForm.emailUser.$dirty">
                                    <font color="red ">This field is requried!</font>
                                 </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-2 "> &nbsp; </div>
                        <div class="col-md-4 ">
                            <button align="center " class="btn-block btn-lg btn-primary" style="text-align: center;" ng-disabled="!passwordForm.$valid "
                            ng-required="true" ng-click="vm.resetPass() ">Reset Password</button>
                            <script type="text/ng-template" id="resetTemplate">
                                <div id="target">
                                    <h1 align="center"> Check your email !  </h1> </br>
                                    <p>   </br>
                                        Go to your inbox and click the link provided to reset your password. </br>
                                        </br>
                                    </p>
                                    <h3>  Didn't receive your email ? </h3>
                                    <h4>  Check your spam folder.  </h4>
                                    </br>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </section>
</section>