<style>
    .col-centered {
        text-align: center;
    }
</style>
<section id="dashboard-view" class="mainbar" data-ng-controller="dashboardCtrl as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 style="padding: 19px;"><strong>Search</strong></h1>
                </div>

            </div>
            <div class="row">
                <div class="col-md-2 col-centered">
                    Speciality:
                    <select name="select1" ng-change="vm.searchMester()" ng-model="vm.searchMesterRequest.specialityName" onmousedown="if(this.options.length>5){this.size=5;}"
                    onchange='this.size=0;' onblur="this.size=0;">
                        <option ng-repeat="item in vm.specialityList" value="{{item.specialityName}}">{{item.specialityName}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-centered">
                    Location :
                    <input id="focusedInput" ng-keydown="$event.which === 13 && vm.searchMester()" name="location" ng-model="vm.searchMesterRequest.location"
                    type="text" />
                </div>
                <div class="col-md-1 col-centered">
                    Rating :</br>
                    <select ng-model="vm.searchMesterRequest.rating" ng-change="vm.searchMester()">
                        <option value="1">*</option>
                        <option value="2">**</option>
                        <option value="3">***</option>
                        <option value="4">****</option>
                        <option value="5">*****</option>
                    </select>
                </div>
                <div class="col-md-1 col-centered">
                    Price : </br>
                    <select ng-model="vm.searchMesterRequest.price" ng-change="vm.searchMester()">
                        <option value="1">LOW</option>
                        <option value="2">MEDIUM</option>
                        <option value="3">HIGH</option>
                    </select>
                </div>

                <div class="col-md-2 col-centered">
                    <div>
                        </br>
                        <button class="btn btn-default" ng-click="vm.advanceSearch()">Advance Search</button>
                        <script type="text/ng-template" id="templateId">
                            <div id="target" ng-click="vm.searchMester()">
                                <h5 align="left">Advance Search:</h5>
                                <div class="row">
                                    <div class="col-md-5">
                                        <strong>    Speciality: </strong>
                                        <select name="select1" ng-change="vm.searchMester()" ng-model="vm.searchMesterRequest.specialityName" onmousedown="if(this.options.length>5){this.size=5;}"
                                        onchange='this.size=0;' onblur="this.size=0;">
                                            <option ng-repeat="item in vm.specialityList" value="{{item.specialityName}}">{{item.specialityName}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <strong>  Rating : </strong>
                                        <select ng-model="vm.searchMesterRequest.rating" ng-change="vm.searchMester()">
                                            <option value="1">*</option>
                                            <option value="2">**</option>
                                            <option value="3">***</option>
                                            <option value="4">****</option>
                                            <option value="5">*****</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>  Price : </strong>
                                        <select ng-model="vm.searchMesterRequest.price" ng-change="vm.searchMester()">
                                            <option value="1">LOW</option>
                                            <option value="2">MEDIUM</option>
                                            <option value="3">HIGH</option>
                                        </select>
                                    </div>
                                </div>
                                </br>
                                <form class="form-horizontal" role="form" name="searchForm" novalidate>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"> Location : </label>
                                        <div class="col-md-8">
                                            <input id="focusedInput" class="form-control" ng-keydown="$event.which === 13 && vm.searchMester()" name="location" ng-model="vm.searchMesterRequest.location"
                                            type="text" /> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"> First Name: </label>
                                        <div class="col-md-8">
                                            <input id="focusedInput" class="form-control" name="firstName" ng-keydown="$event.which === 13 && vm.searchMester()" ng-model="vm.searchMesterRequest.firstName"
                                            type="text" /> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"> Last Name: </label>
                                        <div class="col-md-8">
                                            <input id="focusedInput" class="form-control" name="lastName" ng-keydown="$event.which === 13 && vm.searchMester()" ng-model="vm.searchMesterRequest.lastName"
                                            type="text" /> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email: </label>
                                        <div class="col-md-8">
                                            <input id="focusedInput" class="form-control" name="email" ng-keydown="$event.which === 13 && vm.searchMester()" ng-model="vm.searchMesterRequest.email"
                                            type="text" /> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Phone Nr: </label>
                                        <div class="col-md-8">
                                            <input " id="focusedInput " class="form-control " name="phoneNumber " ng-keydown="$event.which===13 && vm.searchMester()
                                            " ng-model="vm.searchMesterRequest.phoneNumber " type="text "/> </div>
                                    </div>
                                </form>
                                 </br>                                                                      
                             </div>
                            </script>
                        </div>                   
                </div>
                <div class="col-md-1 "> </br>
                      <!--<a class="btn btn-default " href="/#/dashboard.html "> </a> -->
                         <input type="submit " value="Reset " ng-click="vm.goBack() ">
                    
                </div>
          
            </div>     </br>    
  
            <div class="row ">
                <div class="col-md-9 " style="padding: 0 0 0 30px; ">
                    <div ui-grid="vm.gridOptions " ui-grid-pagination ui-grid-selection class="myGrid "></div>
                    <div class="row ">
                        <div class="col-md-2 "> <strong>Total results:</strong> </div>
                        <div class="col-md-1 " align="left ">{{ vm.allElem }} </div>
                    </div>
                     
                </div>
            </div>

            
             <!--<div class="row " id="map " style="height: 100%;"></div>
                <script>
                    var map;
                    function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: -34.397, lng: 150.644},
                        zoom: 8
                        });
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgkyoGu3-C7vyTsFys8-cIc1cQ3lefF3E&callback=initMap " async defer>

                </script>-->

         </div>
    </section>
</section>